

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#characterDivProperties {
    background-color: white; 
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.38); 
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.38);
    width: 350px;
    height: 340px;
    cursor: move;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#characterDivProperties.over {
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.8);
}

#characterGif {
  position: relative;
  top: -65px;
  height: 175px;
  width: 350px;
  overflow: hidden;
}

#characterName {
  position: relative;
  font-family: Arial;
  left: 100px;
  top: 0px;
}

#characterWorld {
  position: relative;
  font-family: Arial;
  left: 100px;
  top: -15px;
  color: #676767;
}

#characterDetails {
  position: relative;
  top: 180px;
  font-family: Arial;
}

#characterProfile {
  position: relative;
  top: -380px;
  left: -50px;
  height: 200px;
  width: 200px;
  overflow: hidden;
  clip-path: circle(30px);
}